<html>
  <head>
    <title>Application Registration</title>
  </head>
  <body>
    <h1>Application Registration</h1>
    <form action='/sources/' method='post'>
      <p>
        Who are you?:
      </p>
      identifier: <input type='text' name='identifier'/>
      <br/>
      rootURL: <input type='text' name='rootUrl'/>
      <input type='submit'/>
  </body>
</html>