<html> 
  <head>
    <title> For <%= @source.identifier %>URL </title>
  </head>
  <body>
    <h1>Most requested URLs</h>
      #most to least requested urls(takes in url)
    <h2>Web browser breakdown across all requests</h>
      #shows which request used which browser(take in userAgent)
    <h3>OS breakdown across all requests</h3>
      #takes in OS types for all requests(takes in userAgent)
    <h4>Screen Resolution across all requests</h4>
      #takes in resolution data(heightxwidth) from all requests
    <h5>Longest, average response time per URL to shortest, average response time per URL</h5>
      #displays longest to shortest average response time per URL
    <h6>Hyperlinks of each URL</h6>
      #Displays hyperlinks of each url to view url specific data
    <h7>Hyperlink to view event data</h7>
      #Displays hyperlink to view aggregate event data
  </body>
</html>